//
// UTIL: Variables
// ------------

// Your custom global variables or overrides

@brand-primary:  #00b593;

@navbar-default-bg: transparent;
@navbar-default-link-color: fade(#fff, 80%);
@navbar-default-link-hover-color: #fff;

@padding-large-vertical: 12px;
@padding-large-horizontal: 24px;

@font-size-base: 18px;
@font-size-large: 24px;
@font-size-normal: 16px;
@font-size-small: 14px;

@icon-font-path:          "../assets/fonts/";

@page-header-border-color:    transparent;
