@sw-brand-primary:  #00b593;

@sw-navbar-default-bg: transparent;
@sw-navbar-default-link-color: fade(#fff, 80%);
@sw-navbar-default-link-hover-color: #fff;

@sw-padding-large-vertical: 12px;
@sw-padding-large-horizontal: 24px;

@sw-font-size-base: 18px;
@sw-font-size-large: 24px;
@sw-font-size-normal: 16px;
@sw-font-size-small: 14px;

@sw-page-header-border-color:    transparent;


.sw-header {
  width: 100%;
  background-image: url('../assets/images/intro-bg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: @navbar-height;
  padding-bottom: @navbar-height;

  p {
    color: #fff;
    font-size: @sw-font-size-large;
    margin-bottom: 20px;
  }

  h1 {
    color: #fff;
    font-size: @sw-font-size-large * 2;
    border-bottom: 0;
  }

  .version {
    display: inline-block;
    font-size: @sw-font-size-normal;
    text-align: center;
    padding: @line-height-computed / 2 0 0 @line-height-computed * 2;
  }

  .page-header {
    padding-bottom: 0;
    margin-bottom: 0;
    border-color: @sw-page-header-border-color;
  }
}

.sw-subsection {
  margin-bottom: 2 * @line-height-computed;
}

.sw-example {
  border: 1px solid darken(@gray-lighter, 5%);
  border-radius: @border-radius-large;
  padding: @grid-gutter-width / 2;
  margin-bottom: @line-height-computed;

  .dropdown-menu,
  .dropdown-container {
    display: block;
    clear: left;
  }
}

// META TITLE
// --------------------
.has-meta {
  position: relative;
    
  &::after {
    position: absolute;
    top: -1.5 * @line-height-computed;
    left: 0;
    width: 100%;
    text-align: left;
    content: attr(data-meta);
    color: darken(#62afe5, 10%);
  }

  &.meta-right::after {
    text-align: right;
  }
}

// NAVBAR
// --------------------
.navbar-default {
  border-color: transparent;

  .navbar-nav {
    > li > a {
      color: @sw-navbar-default-link-color;
      font-size: @sw-font-size-base;

      &:hover,
      &:focus {
        color: @sw-navbar-default-link-hover-color;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
      }
    }
  }
}

.navbar-brand {
  font-size: @sw-font-size-large;    
}

.navbar-nav > li > .btn-group {
  padding: 8px @navbar-padding-horizontal;
}
// BUTTONS
// --------------------

.btn-primary {
  background-color: @sw-brand-primary;
  border-color: @sw-brand-primary;
  border-radius: 2px;
  .f-custom-medium;
  
  &:active,
  &:focus,
  &:hover {
    background: darken(@sw-brand-primary, 10%);
    border-color: darken(@sw-brand-primary, 10%);
  }
}

.btn-outline {
  font-size: @sw-font-size-normal;
  background: transparent;
  border: 2px solid @sw-brand-primary;
  padding: @padding-large-vertical @padding-large-horizontal;
  border-radius: 2px;
  color: @sw-brand-primary;
  text-transform: uppercase;
  .f-custom-medium;

  &:active,
  &:focus,
  &:hover {
    background: @sw-brand-primary;
    border-color: @sw-brand-primary;
  }
}

.btn-icon {
  display: inline-block;
  border: 2px solid darken(@gray-lighter, 20%);
  color: @gray-light;
  padding: 2px @padding-small-horizontal;
  border-radius: 8px;
  font-size: @font-size-small;
  .f-custom-medium;

  &:active,
  &:hover {
    background: @brand-primary;
    border-color: @brand-primary;
  }
}

.sw-panel {
  @m: @grid-gutter-width / 2;
  margin: -@m -@m 0 -@m;
  padding: @grid-gutter-width / 2;
  background: @gray-lighter;
  border-bottom: 1px solid darken(@gray-lighter, 5%);
  border-radius: @border-radius-large @border-radius-large 0 0;

  .form-group {
    margin-bottom: 0;
  }
}

// EXAMPLES
// -----------------------
.sw-example pre {
  font-size: @sw-font-size-base;
  padding: @sw-padding-large-vertical!important;
}
.sw-example pre > code {
  font-size: 94%;
  line-height: @line-height-base!important;
}

.sw-example + pre[class*="language-"] {
  margin-top: -1.3 * @line-height-computed;
}

// FOOTER
// ----------------------
.sw-footer {
  margin-top: @line-height-computed;
  padding: 2 * @line-height-computed 0;
  color: @gray-light;
  text-align: center;
  font-size: @sw-font-size-normal;
  border-top: 1px solid @gray-lighter;

  p {
    margin-bottom: @line-height-computed;
  }
}


.sw-support {
  margin-top: @line-height-computed;
  padding: @line-height-computed 0;
  // color: @gray-light;
  text-align: center;
  font-size: @sw-font-size-normal;
  border-top: 1px solid @gray-lighter;

  p {
    margin-bottom: @line-height-computed;
  }

  h3 {
    margin-top: 0;
  }
}

.navbar {
  background-image: url('../assets/images/intro-bg.jpg');
}


.navbar-default .navbar-brand {
  margin-right: @grid-gutter-width;
  // .f-custom-medium;
  color: #fff;
}

.navbar-brand small {
  .opacity(.6);
}


.btn {
  .transition(~"all .2s cubic-bezier(0.250, 0.250, 0.750, 0.750)");
}

.sw-banner {
  background: @gray-lighter;
  padding-top: @padding-large-vertical;
  padding-bottom: @padding-large-vertical;

  p {
    display: inline-block;
    color: @gray-light;
    font-size: @sw-font-size-normal;
    margin-right: @line-height-computed;
    padding-top: @padding-base-vertical;
  }
}

.list-search {
  padding: 3px;
}

// Section: Examples

#dropdown-structure {
  padding-bottom: 360px;
}

#dropdown-shortcuts {
  padding-bottom: 120px;
}


#dropdown-positioning {
  text-align: center;
  padding: 270px 40px;
  
  .btn-group {
    margin: 20px;
  }
}

td.col-actions {
  width: 44px;
}